language: php

sudo: false

dist: trusty

php:
  - 7.0
  - 7.1
  - 7.2

before_script:
  - composer self-update
  - composer install --prefer-dist --no-interaction

script: phpunit -d memory_limit=1024M

matrix:
  fast_finish: true
